/*
style.css for FileShare index.html
*/
body {
	font-family: "Segoe UI", Helvetica, Tahoma, freesans, sans-serif;
	font-size: 90%;
	margin: 10px;
	color: #3cd43c;
	background-color: #0d3136;
}

button {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

#dropbox {
  display: block;
	font-weight: bold; 
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #ffff00;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#dropbox.hover {
  color: #eeee00;
	border-color: #eded2a;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.detail::before {
/*
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: baseline;
  width: 0;
  border-bottom: 10px solid #832323;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  margin-right: 5px;
*/
  top: -20px;
  left: 16px;
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.detail {
  background-clip: padding-box;
  background-color: white;
  border-radius: 3px;
  margin: 12px 0;
  padding: 0 50px;
  position: absolute;
  color: black;
}

.progressbar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  border-color: azure;
  font-size: 14px;
  clear: both;
  text-align: center;
/*  opacity: 0;*/
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

/*
.loadingprogressbar {
  opacity: 1.0;
}
*/

.percentagebar {
  font-weight: bold;
  font-size: 120%;
  color: #ff3f00;
  background-color: #99ccff;
  height: auto;
}