/*
style.css for FileShare index.html
*/
body {
  margin: 0;
	background-color: #e1e1e1;
  font-family: Tahoma, "Segoe UI", Helvetica, freesans, sans-serif;
}

ul {
  margin: 10px 5px;
  padding: 0;
}

/*
a {
  color: bisque;
}

a:hover {
  color: burlywood;
}

a:active {
  color: darkorange;
}
*/

button {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

#head {
  background-color: #444;
  color: #ccc;
  padding: 5px 20%;
  height: 30;
  margin:0 auto;
}

#main {
	font-size: 90%;
  margin: 10px
	color: #3cd43c;
  word-wrap: break-word;
}

#userinfo {
  display: inline-block;
}

#logout {
  float: right;
}

#lists {
  overflow: hidden;
  clear: both;
}

#serverside {
  float: left;
  width: 20em;
  border: 1px solid white;
}

#uploadside {
  margin-left: 21em;
  margin-right: 21em;
  border: 1px solid white;
}

#chatside {
  float: right;
  width: 20em;
  border: 1px solid white;
}

li {
/*  list-style-image: url("/image/F.png");*/
  list-style: none;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 20px 0;
}

#dropbox {
  display: block;
	font-weight: bold; 
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #9900cc;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#dropbox.hover {
  color: #0099cc;
	border-color: #0099cc;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#login {
  display: none;
  opacity:0.9;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

#login .form {
  padding: 10px 0;
  text-align: center;
  top: 50%;
  height: 180px;
  margin-top: -180px;
  position: relative;
  border: 1px solid black;
  font-size: 300%;
}

#login .form #nameinput {
  font-family: Tahoma, "Segoe UI", Helvetica, freesans, sans-serif;
  font-size: 70%;
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
}

.detail::before {
  top: -20px;
  left: 16px;
  position: absolute;
  display: inline-block;
  height: 0;
  width: 0;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffeecc transparent;
  background-clip: border-box;
}

.detail {
  background-clip: padding-box;
  background-color: #ffeecc;
  border-radius: 3px;
  vertical-align: baseline;
  margin: 12px 0;
  padding: 5px 2em;
  position: relative;
  color: black;
}

.progressbar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  border-color: white;
  font-size: 14px;
  word-wrap: normal;
/*  clear: both;*/
  text-align: center;
/*  opacity: 0;*/
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

/*
.loadingprogressbar {
  opacity: 1.0;
}
*/

.percentagebar {
  border-width: 0;
  font-weight: bold;
  font-size: 120%;
  color: #ff3f00;
  background-color: #99ccff;
  height: auto;
}

.errorpercentagebar {
  font-weight: bold;
  font-size: 120%;
  color: darkred;
  background-color: darkgray;
  height: auto;
}